.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .users table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .users td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .users tr:nth-child(even) {
    background-color: #dddddd;
  }